{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <!--  글쓰기 폼 시작 -->
    <form action="/s/post" method="post">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter title" name="title">
        </div>
        <div class="mb-3">
            <textarea name="content" rows="10" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">글쓰기</button>
    </form>
    <!-- 글쓰기 폼 끝 -->

</div>
<!-- 컨테이너 끝 -->

{{> /layout/footer}}