{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <!-- 회원수정 폼 시작 -->
    <!-- 폼 태그는 put, delete 요청을 할 수 없다. 그래서 자바스크립트로 제어해야 한다. -->
    <form>
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" value="{{principal.username}}" id="username" readonly>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" value="{{principal.password}}" id="password" required>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" value="{{principal.email}}" id="email" required>
        </div>
        <button type="button" class="btn btn-dark" onclick="update()">수정완료</button>
    </form>
    <!-- 회원수정 폼 끝 -->

</div>
<!-- 컨테이너 끝 -->

<script>
    function update() {
        let usernameDom = document.querySelector("#username");
        console.log(usernameDom);
    }
</script>

{{> /layout/footer}}