<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에러페이지</title>
    <style>
        .red_color {
            color: red;
        }
    </style>
</head>

<body>
    <h1 class="red_color">잘못된 페이지를 요청하였습니다.</h1>
    <hr />
    <a href="/">메인으로 가기</a>
</body>

</html>